@page
@model AboutModel
@{  
    ViewData["Title"] = "About Us";
}
    <h1>A little bit about Tools4You</h1>
    <p>
        Tools4You was created by a 17 year old student. His intention was to sell
        tools that are not only reliable but cheap. By using buying and reselling other tools 
        Tools4You was created.
    </p>
