@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    p{
  font-size: 1.3rem;
  color: black;
    }
  h1{
      font-size: 4.0rem;
      color: black;
  }
  body {background-color: lightgray;}
</style>

<p>
    
    Tools4You alwyas tries to ensure customer privacy. By shopping at Tool4You
    We agree to disclosing the name or products bought by a customer unless 
    the tools are believed to be used for illegal reasons.
</p>
